body{
  background-color: #f02233;
background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
  padding-top: 200px;
  padding-left: 520px;
  padding-right:300px;
  padding-bottom: 300px;
}

.maindiv{
  padding-top: 20px;
width:400px;
height:400px;
}
h1{
  color:white;
  padding-left: 70px;
}

.firstdiv{
  margin-left: 65px;
  margin-top: 80px;
  display: inline-block;
}
.seconddiv{
  margin-left: 65px;
  display: inline-block;
}
.buttondiv{
  margin-top: 30px;
  width:295px;
  margin-left: 65px;
  display: inline-block;
}
